/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Basic styling for the entire page */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ffffff;
  /* padding: 20px; */
}

/* Styling for the navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  /* padding: 10px 20px ; */
}

.logo {
  font-size: 24px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
  cursor: pointer;
}

.cart-count {
  display: flex;
  align-items: center;
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
.cart-count:hover{
color: #3498db;
}

/* Styling for the banner */
.banner {
  background-color: #151618;
  color: white;
  padding: 40px;
  margin-top: 20px;
}

/* Styling for product cards */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.card {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly increased shadow */
  transform: scale(1.03); /* Slight zoom on hover */
}



.card img {
  max-width: 100%;
  height: auto;
}

.fancy {
  color: #f39c12;
  font-weight: bold;
  margin-top: 5px;
}

.card-btn {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
/* Styling for the footer */
footer {
  height: 100px; /* Adjust the height as needed */
  width: 100%; /* Width should be specified without "px" */
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
}

